@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

body{
	margin:0px;
	border:0px;
	padding:0px;
	background-color: #FAFAFA;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

.container{
	position: absolute;
	display: block;
	width: 100%;
	top: 10%;
}

.title{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 3em;
	color: #CCC;
	text-align: center;
}

.name{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1em;
	color: #CCC;
	text-align: center;
}

.icon{
	font-size: 3em;
	color: #CCC;
	text-align: center;
	margin: 0em 0em;
	padding: 0.6em 0em;
	cursor: pointer;
}

.btn_twitter:hover{
	color: #4da7de;
	text-decoration: none;
}

.btn_instagram:hover{
	color: #9c7c6e;
}

.btn_wordpress:hover{
	color: #464646;
}

.btn_linkedin:hover{
	color: #3371b7;
}

.btn_github:hover{
	color: #221e1b;
}

.btn_mail:hover{
	color: #404040;
}